@import "./base/bootstrap-extended/include"; // Bootstrap includes
@import "./base/components/include"; // Components includes

// --- file input button for dark layout ----- //
.dark-layout {
	.form-control {
		&[type="file"] {
			&::file-selector-button {
				background-color: $theme-dark-input-bg;
			}
		}
	}
}

.demo-inline-spacing > * {
	margin-top: 0.65rem !important;
}

.vh-60 {
	height: 60vh;
}

@media (min-width: 992px) {
	.w-lg-50 {
		width: 50% !important;
	}
	.w-lg-75 {
		width: 75% !important;
	}
}
